*{
    text-align: center;
}
#TableColor{
    width: 100%;
      background-color: blue;
      color: aliceblue;
}
.img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
.wrd{
     text-align: left;
}
.imgTd{
     text-align: right;
     width: 45%;
}
.link{
    background-color: silver;
}